<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper02">
	<!-- 회원의 아이디가 "user"인 사람을 검색하는 쿼리 -->
	<select id="getUser01" parameterType="string" resultType="user">
	SELECT
	user_id AS userId, 
	user_name AS userName, 
	password, 
	age, 
	grade, 
	reg_date AS regDate
	FROM users
	WHERE user_id LIKE #{VALUE}
	</select>
	
	<!-- 아이디가 01인 회원을 검색 -->
	<select id="getUser02" parameterType="user" resultType="user" >
	SELECT
	user_id AS userId, 
	user_name AS userName, 
	password, 
	age, 
	grade, 
	reg_date AS regDate
	FROM users
	WHERE user_id LIKE #{userId} <!-- getUserId() == #{userId} -->
	</select>
	
	<!-- 아이디가 "user"로 시작하는 사람을 검색...Like연산자와 함께 %와일드 카드 사용 -->
	<select id="getUser03" parameterType="string" resultType="user" >
	SELECT
	user_id AS userId, 
	user_name AS userName, 
	password, 
	age, 
	grade, 
	reg_date AS regDate
	FROM users
	WHERE user_id LIKE #{VALUE} || '%' 
	</select>
	
	<!-- 아이디가 "user"로 끝나는 사람을 검색...Like연산자와 함께 %와일드 카드 사용 || Test직접 확인 -->
	<select id="getUser04" parameterType="user" resultType="user" >
	SELECT
	user_id AS userId, 
	user_name AS userName, 
	password, 
	age, 
	grade, 
	reg_date AS regDate
	FROM users
	WHERE user_id LIKE '%' || #{userId} 
	</select>
</mapper>