nav {
  background-color:LightGray;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-item {
  display: inline-block;

  margin: 0 10px;/* 각 아이템*/
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

/* logo image 옆의 nav-item 을 이미지 중간 높이로 올리기 위해 필요 */
nav .logo {
  float: left;
  width: 40px;
  height: 40px;
}
nav .logo img {
  width: 100%;
  height: 100%;
}

nav a {
  color: black;
}
nav a:link {
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
}

nav a:active {
  text-decoration: none;
}