<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<servlet-class>web.servlet.controller.MainServlet</servlet-class>	
  </servlet>

	<!-- 클라이언트 매핑 -->
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>
</web-app>